/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*LAYOUT*/
body{
    background-color: #7B287D;
    font-family: 'Tilt Warp', cursive;
}
h1{
    color: white;
}
.row{
    display: grid;
    grid-template-columns: repeat(10, 80px);
    grid-template-rows: repeat(10, 80px);
    grid-gap: 20px;
}
.column{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7067CF;
    box-shadow: 5px 5px 10px;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*SPECIAL STYLES*/
.fizz{
    background-color: lightgreen;
}
.buzz{
    background-color: #CBF3D2;
}
.fizz-buzz{
    background-color: lightcoral;
}